<a href="https://colab.research.google.com/github/nehadubey1205/ResearchWork/blob/main/Untitled22_NEW_HATE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Convert TEXT to CSV

In [1]:
import csv

# Open the text file for reading
with open('/content/multilingual_functionalities_HateSpeech.txt', 'r') as infile:

    # Open the CSV file for writing
    with open('output_file_hate.csv', 'w', newline='') as outfile:

        # Create a CSV writer object
        writer = csv.writer(outfile)

        # Loop over each line in the text file
        for line in infile:

            # Split the line into fields
            fields = line.strip().split()

            # Write the fields to the CSV file
            writer.writerow(fields)

In [3]:
import pandas as pd

In [10]:
import pandas as pd

# Read the Excel file into a pandas dataframe
df = pd.read_excel('/content/Project Work.xlsx')

# Convert the dataframe to a CSV file
df.to_csv('Hate.csv', index=False)

In [11]:
df.head(5)

                             test_case  label
0         Mujhe hinduon se nafrat hai.      0
1    Mujhe musalamaanon se nafrat hai.      0
2  Mujhe bangladeshiyon se nafrat hai.      0
3    Mujhe pakistaniyon se nafrat hai.      0
4          Mujhe hijdon se nafrat hai.      0

In [21]:
dt = pd.read_csv('/content/Bully_Sent_Emo_IEEEIC_6084.csv')

In [22]:
dt.head(2)

,Tweets,Processed_Tweets,Bully_Label,Sentiment_label,Emotion_label
0,Teri maa ki chut me Shivsena ka lund gaya kya,Teri maa ki chut me Shivsena ka lund gaya kya,1,Negative,Anger
1,Han muje pata hai teri maa ka ke gufa me jati thi,Han muje pata hai teri maa ka ke gufa me jati thi,1,Negative,Others

In [ ]:


# Drop the 'City' column using the 'Name', 'Age', and 'Country' column names
df1 = dt.drop(columns=['Tweets','Sentiment_label',	'Emotion_label'])

# Print the modified DataFrame
print(df1)

In [24]:
df1.to_csv('new_file_BullySent.csv', index=False)

In [26]:
import csv

# Open the first CSV file for reading
with open('/content/new_file_BullySent.csv', 'r') as f1:

    # Read the data from the first CSV file
    reader1 = csv.reader(f1)
    data1 = list(reader1)

# Open the second CSV file for reading
with open('/content/Hate.csv', 'r') as f2:

    # Read the data from the second CSV file
    reader2 = csv.reader(f2)
    data2 = list(reader2)

# Combine the data from both files
combined_data = data1 + data2

# Open a new CSV file for writing
with open('combined_file_New.csv', 'w', newline='') as f:

    # Write the combined data to the new CSV file
    writer = csv.writer(f)
    writer.writerows(combined_data)

In [27]:
df = pd.read_csv('/content/combined_file_New.csv')

In [28]:
df.tail()

                                       Processed_Tweets Bully_Label
7210    It should be clear that daliton insaan nahi hai           0
7211   It should be clear that mahilaon insaan nahi hai           0
7212  It should be clear that nichli jaati ke logon ...           0
7213    It should be clear that british insaan nahi hai           0
7214  It should be clear that samalaingik logon insa...           0

In [32]:
# Print the first two rows of the DataFrame using the iloc attribute
print(df.iloc[6083:])

                                       Processed_Tweets Bully_Label
6083  इश्क़ में थे जबवादा हमारादावा भी हमाराधोखा उनक...           0
6084                                          test_case       label
6085                       Mujhe hinduon se nafrat hai.           0
6086                  Mujhe musalamaanon se nafrat hai.           0
6087                Mujhe bangladeshiyon se nafrat hai.           0
...                                                 ...         ...
7210    It should be clear that daliton insaan nahi hai           0
7211   It should be clear that mahilaon insaan nahi hai           0
7212  It should be clear that nichli jaati ke logon ...           0
7213    It should be clear that british insaan nahi hai           0
7214  It should be clear that samalaingik logon insa...           0

[1132 rows x 2 columns]

In [ ]:
# we want to remove 6084
df = df.drop(index=[6084])

In [34]:
print(df.iloc[6083:])

                                       Processed_Tweets Bully_Label
6083  इश्क़ में थे जबवादा हमारादावा भी हमाराधोखा उनक...           0
6085                       Mujhe hinduon se nafrat hai.           0
6086                  Mujhe musalamaanon se nafrat hai.           0
6087                Mujhe bangladeshiyon se nafrat hai.           0
6088                  Mujhe pakistaniyon se nafrat hai.           0
...                                                 ...         ...
7210    It should be clear that daliton insaan nahi hai           0
7211   It should be clear that mahilaon insaan nahi hai           0
7212  It should be clear that nichli jaati ke logon ...           0
7213    It should be clear that british insaan nahi hai           0
7214  It should be clear that samalaingik logon insa...           0

[1131 rows x 2 columns]

In [35]:
df.isnull().sum()

Processed_Tweets    0
Bully_Label         0
dtype: int64